.Container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    max-width: 100%;
}
.leftSide{
    background-color: #4d394d;
    color: black;
    height: 100vh;
    max-width: 100&;
}
#username{
    text-align: center;
    font-size: 18px;
    margin-top:18px;
}
#username:hover{
    color: black;
}
.sendMsg{
    position:absolute;
    bottom:4vh;    
    margin-left: 18px;
    margin-right: 18px;
    width: 150vh;
}
.msgrp{
    overflow-y: scroll;
    height: 70vh;
    width: 150vh; 
    position: absolute;
    bottom: 12vh;
    li{
        overflow: hidden;
        width: 50%;
        margin: 20px;
    }
}
.main{
    max-width: 100%;
}
.logout{
    position: absolute;
    bottom: 6vh;
    left: 12vh;
    button{
        border: none;
        background-color:white;
    }
    button:hover{        
        border: none;
        color:black;
        background-color: white;
    }
}
.searchChannel{
    position: relative;
    margin:18px;
    height: 10vp;
    z-index: 99 !important; 
li{
    overflow: hidden;
}
}
#addChannelyour{
    border: none;
    color: black;
    font-size: 20px;
   float: center;
   margin-right:10px; 
}
#addChannelyour:hover{
font-size: 15px;
color: black;
}
.mychannel{
    margin-top: 10vh;
text-align: center;
margin-left: 20px;
ul{
    margin-top: 2vh;
    
}
li{
    overflow: hidden;
    font-size: 14px;
    
}
li:hover{
    color: black;
    font-size: 14px;
    overflow: hidden;
}
}
.list{
    list-style: none;
}
#date{
    float: right;
}
.buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 14px; /* Some padding */
    font-size: 16px; /* Set a font size */
    margin-left: 50px;
    
}
