<div class=" Container">
  <div class="leftSide">
    <div id="username">
      {{this.userData.email}}
    </div>
    <br />
    <div class="searchChannel">
      <input type="text" class="form-control" align="right" placeholder="Search  your Channel"  (keyup)="findchannel()" [(ngModel)]=item>
  <ul>
    <li *ngFor='let channel of searchData' class="list-group-item" (click)='addToChannel(channel)'>{{channel}}</li>
  </ul>
    </div>
    <div class="myChannel">
      <div (click)="showUserChannel()" id="Heading">  Current Channels:</div>
  <div (click)="showUserChannel()" style="margin: 5px" [ngClass]="{'glyphicon glyphicon-triangle-top'  :(flag),'glyphicon glyphicon-triangle-bottom':(!flag)}"></div>
  <div class="glyphicon glyphicon-plus" (click)="addChannel()" id='addChannelyour'></div>
    </div>
    
    <ul *ngIf='flag' class = "list">
      <li *ngFor='let channel of userChanneldata' (click)='changeChannel(channel)' [id]=channel>#   {{channel}}</li>
    </ul>
    
    <div class="logout">
      <button type="button" (click)="logout()">
        <div class="glyphicon glyphicon-log-out"></div> Log out
      </button>
    </div>
  </div>
  <div class="main">
   <div class="msgrp">
      <ul class="list-group">
        <li *ngFor='let msg of message' [ngClass] = "{'alert alert-info':(msg.from != userData.email),'alert alert-success':(msg.from ==userData.email)}"
        [ngStyle]='{"float" : msg.from == userData.email ? "right" : "left"}'>{{msg.body}}
          <br/> ~ {{msg.from}} <span id = "date">{{msg.date_updated | date: 'h:mm a'}}</span></li>
      </ul>
    </div>
    <div class="sendMsg">
      <input type="text" id ="txt" placeholder="type your message" [(ngModel)]=msg>
      <button type="button" class = "buttonload" (click) = "sendyourMsg()"><i class="fa fa-spinner fa-spin"></i>send</button>
    </div>
  </div>
</div>
