.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
.fa-google {
    background: #dd4b39;
    color: white;
    float: center;
  }
  h1{
      text-align:center;
      color:rebeccapurple;
      font-size: 90px;
      font-style: italic;
      
  }
  #google{
      margin-left: 600px;
  }
  #facebook{
margin-left: 600px;
}
.full{
    
    height: 800px;
}