<div class = "full">
    <h1>
      Login
    </h1>
    
    
    <a id ="google" href="#" (click)="socialSignIn('google')" class="fa fa-google"></a><br/><br />
    <a  id = "facebook" href="#" (click)="socialSignIn('facebook')" class="fa fa-facebook"></a>
    </div>